@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url("../img/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.login-box {
    background: white;
    width: 440px;
    height: 476px;
}

.logo-container {
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 76px;
}

form {
    padding: 0 24px 0 24px;
}

.input-group {
    position: relative;
    margin: 35px 0 20px 0;
}

.username-input, .password-input {
    width: 100%;
    border: none;
    outline: none;
    display: block;
    font-size: 14px;
    background: transparent;
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 10px 10px 10px 5px;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.username-input:focus, .password-input:focus {
    box-shadow: -8px 9px 0px -8px #a6a6a6, 8px 9px 0px -8px #a6a6a6;
}

.username-label, .password-label  {
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}

.username-input:focus ~ .username-label,
.username-input:valid ~ .username-label,
.password-input:focus ~ .password-label,
.password-input:valid ~ .password-label {
    top: -20px;
    font-size: 10px;
    color: #707070;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.forgot-password {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    float: right;
    text-decoration: none;
    cursor: pointer;
    color: #F8971D;
    font-size: 14px;
    margin-top: -12px;
}

.login-button {
    font-family: 'Roboto', sans-serif;
    height: 36px;
    width: 100%;
    padding: 0px;
    margin-top: 52px;
    background-color: rgba(0,0,0,.24);
    color: rgba(0,0,0,.26);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

.kc-feedback-text {
    font-family: 'Roboto', sans-serif;
    color: red;
    font-size: 14px;
    padding: 0 24px 0 24px;
}