@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url("../img/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;  
}

.login-box {
    background: white;
    width: 440px;
    height: 476px;
    margin: 0 auto;
}

.logo-container {
    padding: 64px 0px 64px 0px;
    text-align: center;
}

form {
    text-align: center;
    padding: 0px 24px 0px 24px;
}

.username-input, .password-input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0,0,0,.12);
    /* border-bottom: 1px solid #707070; */
    width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.username-input {
    margin-bottom: 54px;
}

.forgot-password {
    text-align: right;
    float: right;
    text-decoration: none;
    cursor: pointer;
    color: #F8971D;
    font-family: 'Open Sans';
    font-size: 14px;
    margin-top: 8px;
}

.login-button {
    height: 36px;
    width: 100%;
    margin-top: 80px;
    background-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}


/* .kc-feedback-text {
    color: red;
} */
.username-input, .password-input {
    /* box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb; */
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.username-input:focus, .password-input:focus {
    box-shadow: -8px 9px 0px -8px #a6a6a6, 8px 9px 0px -8px #a6a6a6;
}